<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Intelagro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://intelagro.net/intelagro/adminlite/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <style type="text/css">
        @font-face {
            font-family: digital;
            src: url("https://intelagro.net/intelagro/adminlite/dists/fonts/seven.ttf");
        }
        
        .digital {
            font-family: digital;
            color: red;
            font-size: 300%;
        }
        
        .btn-warning {
            color: white;
        }
        
        .row {
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
        .card-body.card-mnu-2 {
            padding-bottom: 6px;
            padding-top: 6px;
        }
        
        .card.card-mnu-1 {
            margin-bottom: 32px;
        }
        
        ul.pro {
            height: 200px;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        ul.pre {
            height: 200px;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        row.row-enviar {
            margin-bottom: 32px;
        }
        
        .btn-marg {
            margin-top: 30px;
        }
    </style>
</head>

<body class="layout-top-nav" style="background-color:white;">

    <div id="app">
        <div>
            <div class="wrapper">



                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="#" class="nav-link">Elite Produce</a>
                        </li>
                    </ul>

                    <!-- Right navbar links -->

                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown" @click="logout()">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="fa fa-sign-out"> Salir</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">Cerrar sesion</span>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>

                </nav>

                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <a href="#" class="brand-link">
                        <img :src="logo" alt="intelagro" class="brand-image img-circle elevation-3 " data-widget="pushmenu" style="opacity: 0.8" />
                        <span class="info-box-text text-success">Intelagro</span>
                    </a>

                    <div class="sidebar">
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="info">
                                <a href="#" class="d-block">{{ nombre }}</a>
                            </div>
                        </div>

                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header">{{modulo}}</li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link" @click="inicio()">
                                        <i class="nav-icon fas fa-home text-success"></i>
                                        <p class="text">Inicio</p>
                                    </a>
                                </li>



                                <li class="nav-item">
                                    <a href="#" class="nav-link" @click="menu('registros', 'Registros')">
                                        <i class="nav-icon fas fa-box-open text-success"></i>
                                        <p class="text">Registros</p>
                                    </a>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </aside>

                <div class="content-wrapper">

                    <section class="content-header">
                        <div class="container-fluid">
                            <center>
                                <h5>
                                    PH CE NA
                                </h5>
                            </center>
                            <div class="card border border-success card-mnu-1">

                                <div class="card-body card-mnu-2">
                                    <div class="row">
                                        <div class="col-4">
                                            <center>
                                                <div @click=" menu('registros', 'Registros');">
                                                    <i class="fas fa-plus-circle text-success"></i>
                                                    <div class="text-success">Crear</div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-4">
                                            <center>
                                                <div>
                                                    <i class="fas fa-check-circle text-success" @click="menus('estatus')"></i>
                                                    <div class="text-success">Registros</div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-4">
                                            <center>
                                                <div>
                                                    <i class="fas fa-arrow-circle-up text-success" @click="abrir_modal_pendientes()"></i>
                                                    <span class="badge badge-success">{{ num_pendientes }}</span>
                                                    <div class="text-success">Pendientes</div>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Aqui inicia todo el formulario -->

                    <section class="content" v-if="aside.registros">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    PH CE NA
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="Fecha">Fecha</label>
                                                <input type="date" v-model="registro.maestro.fecha" class="form-control" id="Fecha">
                                            </div>
                                            <div class="form-group">
                                                <label for="Rancho">Rancho</label>
                                                <select id="Rancho" v-model="registro.maestro.rancho" class="form-control form-control">
                                                    <option v-for="(item,index) in unidades" :key="index"
                                                        v-bind:value="item.cat_holding_03_empresas_unidades_productivas_id
                                                        ">
                                                        {{ item.UP }}
                                                    </option>
                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <label for="Lote">Lote</label>
                                                <select id="Lote" v-model="registro.maestro.lote" class="form-control form-control">
                                                    <option v-for="(item,index) in lotes" :key="index"
                                                        v-bind:value="item.cat_holding_04_unidades_productivas_lotes_id
                                                        ">
                                                        {{ item.lote }}
                                                    </option>
                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <label for="surco">Surco</label>
                                                <input type="number" v-model="registro.maestro.surco" class="form-control" id="surco">

                                            </div>
                                            <div class="form-group">
                                                <label for="ph">PH</label>
                                                <input type="number" v-model="registro.maestro.ph" class="form-control" id="ph">

                                            </div>
                                            <div class="form-group">
                                                <label for="ce">CE</label>
                                                <input type="number" v-model="registro.maestro.ce" class="form-control" id="ce">

                                            </div>
                                            <div class="form-group">
                                                <label for="na">NA</label>
                                                <input type="number" v-model="registro.maestro.na" class="form-control" id="na">
                                            </div>

                                        </form>


                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row mb-3" style="margin-top: 33px;">
                            <div class="col-6">
                                <center>
                                    <button type="submit" class="btn btn-block btn-outline-secondary btn-lg">Cancelar</button>
                                </center>
                            </div>
                            <div class="col-6">
                                <center>
                                    <button type="submit" v-on:click="enviar" class="btn btn-block btn-success btn-lg">Enviar</button>
                                </center>
                            </div>
                        </div>
                    </section>
                    <!-- Aqui termina el formulario de crear  -->



                    <!-- Esta seccion debe irse al aside de registros -->
                    <section class="content" v-if="aside.registro">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Registros
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="Rancho">Rancho</label>
                                                <select id="Rancho" v-model="registro.maestro.rancho" class="form-control form-control">
                                                    <option v-for="(item,index) in unidades" :key="index"
                                                        v-bind:value="item.cat_holding_03_empresas_unidades_productivas_id
                                                        ">
                                                        {{ item.UP }}
                                                    </option>
                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <label for="Fecha">Fecha</label>
                                                <input type="date" v-model="registro.maestro.fecha" class="form-control" id="Fecha">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card border border-success">
                            <div class="card-body">
                                <div class="row" style="margin-top: 33px;">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <ul class="list-group pro">
                                                <li class="list-group-item" v-for="(item, index) in unidades" :key="index">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            {{nombreRancho(item.cat_holding_03_empresas_unidades_productivas_id)}}
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-danger btn-sm">
                                                            <i class="fal fa-trash"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-warning btn-sm">
                                                            <i class="fal fa-edit"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- aqui termina el section de registros  -->



                    <!-- inicio del section de pendientes  -->
                    <section class="content" v-if="aside.pendientes">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Registros sin enviar
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top: 33px;">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <ul class="list-group pro">
                                                <li class="list-group-item" v-for="(item, index) in unidades" :key="index">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            {{nombreRancho(item.cat_holding_03_empresas_unidades_productivas_id)}}
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-danger btn-sm">
                                                            <i class="fal fa-trash"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-warning btn-sm">
                                                            <i class="fal fa-edit"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3" style="margin-top: 33px;">
                            <div class="col-12">
                                <center>
                                    <button type="submit" v-on:click="" class="btn btn-block btn-success btn-lg">Enviar registros</button>
                                </center>
                            </div>
                        </div>
                    </section>
                    <!-- fin del section de pendientes  -->


                </div>

                <footer class="main-footer">
                    <div class="float-right ">
                        <b>Version</b> {{version}}
                    </div>
                    <strong>Copyright &copy; 2020-2022 </strong> All rights reserved.
                </footer>



                <aside class="control-sidebar control-sidebar-dark"></aside>

            </div>



        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="./controladores/funciones.js"></script>
    <script src="./controladores/session.js"></script>
    <script src="./controladores/almacenes.js"></script>

</body>

</html>