<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Intelagro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://intelagro.net/intelagro/adminlite/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <style type="text/css">
        @font-face {
            font-family: digital;
            src: url("https://intelagro.net/intelagro/adminlite/dists/fonts/seven.ttf");
        }
        
        .digital {
            font-family: digital;
            color: red;
            font-size: 300%;
        }
        
        .btn-warning {
            color: white;
        }
        
        .row {
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
        .card-body.card-mnu-2 {
            padding-bottom: 6px;
            padding-top: 6px;
        }
        
        .card.card-mnu-1 {
            margin-bottom: 32px;
        }
        
        ul.pro {
            height: 200px;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        ul.pre {
            height: 200px;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
        }
        
        row.row-enviar {
            margin-bottom: 32px;
        }
        
        .btn-marg {
            margin-top: 30px;
        }
    </style>
</head>

<body class="layout-top-nav" style="background-color:white;">

    <div id="app">
        <div>
            <div class="wrapper">



                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="#" class="nav-link">Elite Produce</a>
                        </li>
                    </ul>

                    <!-- Right navbar links -->

                    <ul class="navbar-nav ml-auto">


                        <li class="nav-item dropdown" @click="logout()">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="fa fa-sign-out"> Salir</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">Cerrar sesion</span>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>

                </nav>

                <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <a href="#" class="brand-link">
                        <img :src="logo" alt="intelagro" class="brand-image img-circle elevation-3 " data-widget="pushmenu" style="opacity: 0.8" />
                        <span class="info-box-text text-success">Intelagro</span>
                    </a>

                    <div class="sidebar">
                        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                            <div class="info">
                                <a href="#" class="d-block">{{ nombre }}</a>
                            </div>
                        </div>

                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <li class="nav-header">{{modulo}}</li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link" @click="inicio()">
                                        <i class="nav-icon fas fa-home text-success"></i>
                                        <p class="text">Inicio</p>
                                    </a>
                                </li>



                                <li class="nav-item">
                                    <a href="#" class="nav-link" @click="menu('registros', 'Registros')">
                                        <i class="nav-icon fas fa-box-open text-success"></i>
                                        <p class="text">Registros</p>
                                    </a>
                                </li>



                            </ul>
                        </nav>
                    </div>
                </aside>

                <div class="content-wrapper">

                    <section class="">
                        <div class="container-fluid">
                            <center>
                                <h5>
                                    RIEGOS
                                </h5>
                            </center>
                            <div class="card border border-success card-mnu-1">

                                <div class="card-body card-mnu-2" v-if="menu_superior">
                                    <div class="row">
                                        <div class="col-4">
                                            <center>
                                                <div @click=" menu('registros', 'Registros');" :class="active_menu_registros">
                                                    <i class="fas fa-plus-circle "></i>
                                                    <div>Crear</div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-4">
                                            <center>
                                                <div @click=" menu('regs', 'Registros');" :class="active_menu_regs">
                                                    <i class="fas fa-check-circle"></i>
                                                    <div>Registros</div>
                                                </div>
                                            </center>
                                        </div>
                                        <div class="col-4">
                                            <center>
                                                <div @click="abrir_modal_pendientes()" :class="active_menu_pendientes">
                                                    <i class="fas fa-arrow-circle-up"></i>
                                                    <span class="badge">{{ num_pendientes }}</span>
                                                    <div>Pendientes</div>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Aqui inicia todo el formulario -->

                    <section class="content" v-if="aside.registros">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Información general
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="Fecha">Fecha</label>
                                                <input type="date" v-model="registro.maestro.fecha_de_captura" class="form-control" id="Fecha">
                                            </div>
                                            <div class="form-group">
                                                <label for="Rancho" class="form-label">Rancho</label>

                                                <select id="caja-caja" v-model="registro.maestro.descripcion_unidades_productivas" class="form-control form-control-sm mb-3" style="width: 100%">
                                                    <option v-for="(item,index) in unidades" :key="index"
                                                        v-bind:value="item.cat_holding_03_empresas_unidades_productivas_id">
                                                        {{ item.UP }}
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Riego
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="descripcioncabezal">Cabezal</label>
                                                <select id="descripcioncabezal" v-model="registro.maestro.descripcioncabezal" class="form-control form-control">
                                                    <option v-for="(item,index) in cajas" :key="index"
                                                        v-bind:value="item.cat_finanzas_cajas_chicas_id
                                                        ">
                                                        {{ item.descripcion_caja_chica }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="Rancho" class="form-label">Programa</label>

                                                <select id="caja-caja" v-model="registro.maestro.descripcion_programa" class="form-control form-control-sm mb-3" style="width: 100%">
                                                    <option v-for="(item,index) in unidades" :key="index"
                                                        v-bind:value="item.cat_holding_03_empresas_unidades_productivas_id">
                                                        {{ item.UP }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="numero_de_pulso">Pulso</label>
                                                <select id="numero_de_pulso" v-model="registro.maestro.numero_de_pulso" class="form-control form-control">
                                                    <option v-for="(item,index) in cajas" :key="index"
                                                        v-bind:value="item.cat_finanzas_cajas_chicas_id
                                                        ">
                                                        {{ item.descripcion_caja_chica }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <label for="UnidadMedida" class="form-label">Fertilizante</label>
                                                <div class="col-12 mb-4 form-check fertilizante">
                                                    <input @click="ocultarcards(true)" v-model="registro.maestro.unidadMedidaTipo" class="form-check-input" type="radio" id="contactChoice1" name="contact1" value="tambo" checked/>
                                                    <label class="form-check-label col-6" for="contactChoice1">Si</label>

                                                    <input @click="ocultarcards(false)" v-model="registro.maestro.unidadMedidaTipo" class="form-check-input" type="radio" id="contactChoice2" name="contact1" value="parihuela" />
                                                    <label class=" form-check-label col-6" for="contactChoice2">No</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="content" v-if="aside.registros2">
                            <div class="card border border-success">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Productos</h5>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <form onsubmit="event.preventDefault();" role="form">

                                                <label for="basic-url">Recetas</label>

                                                <select @change="seleccionar_receta()" id="sel_ranch" v-model="receta" class="form-control form-control-sm" style="width: 100%">
                                                <option v-for="(
                                                    item, index
                                                  ) in recetas" :key="index" v-bind:value="item">
                                                    {{ item.descripcion_receta }}
                                                </option>
                                            </select>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-12">
                                            <div v-on:click="nueva_receta()">
                                                <u style="color: blue;"> Nueva receta +</u>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 33px;">
                                        <div class="col-12">
                                            <div class="col-12">
                                                <ul class="list-group pro">
                                                    <li class="list-group-item" v-for="(item, index) in registro.productos" :key="index">
                                                        <div class="row">
                                                            <div class="col-8">
                                                                {{nombreProductos(item.cat_compras_productos_id)}}
                                                            </div>
                                                            <div class="col-2">
                                                                <center>
                                                                    <button v-on:click="borrar_producto(item,index)" type="button" class="btn btn-danger btn-sm">
                                                                    <i class="fal fa-trash"></i>
                                                                </button>
                                                                </center>
                                                            </div>
                                                            <div class="col-2">
                                                                <center>
                                                                    <button v-on:click="editar_producto(item,index)" type="button" class="btn btn-warning btn-sm">
                                                                    <i class="fal fa-edit"></i>
                                                                </button>
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 33px;">
                                        <div class="col-12">
                                            <button v-on:click="menu('AgregarProductos','Registros')" type="button" class="btn btn-success btn-sm btn-block">
                                            Agregar Producto
                                            <i class="fal fa-plus"></i>
                                        </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card border border-success">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>
                                                Resumen
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">Cantidad total del producto</label>
                                            <table id="tablaresumen" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>producto</th>
                                                        <th>cantidad</th>
                                                        <th>unidad</th>
                                                        <th>ha</th>
                                                        <th>total</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in registro.productos" :key="index">
                                                        <td>{{ nombreProductos(item.cat_compras_productos_id) }}</td>
                                                        <td>{{ item.cantidad}}</td>
                                                        <td>{{nombreUnidadMedida( item.cat_compras_productos_unidad_de_medida_mu_id)}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">Cantidad total de costo</label>
                                            <table id="tablaresumen" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>producto</th>
                                                        <th>cantidad</th>
                                                        <th>unidad</th>
                                                        <th>ha</th>
                                                        <th>total</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in registro.productos" :key="index">
                                                        <td>{{ nombreProductos(item.cat_compras_productos_id) }}</td>
                                                        <td>{{ item.cantidad}}</td>
                                                        <td>{{nombreUnidadMedida( item.cat_compras_productos_unidad_de_medida_mu_id)}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="row mb-3 " style="margin-top: 33px; ">
                            <div class="col-6 ">
                                <center>
                                    <button type="submit " class="btn btn-block btn-outline-secondary btn-lg ">Cancelar</button>
                                </center>
                            </div>
                            <div class="col-6 ">
                                <center>
                                    <button type="submit " v-on:click="enviar()" class="btn btn-block btn-success btn-lg ">Guardar</button>
                                </center>
                            </div>
                        </div>



                    </section>
                    <!-- Aqui termina el formulario de nuevo gasto  -->

                    <section class="content" v-if="aside.NuevaReceta">
                        <div class="card border border-success">
                            <div class="modal-header">
                                <h5 class="modal-title">Nueva Receta</h5>
                                <button type="button" class="close" v-on:click="cerrar_modal_receta()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <label for="solicitante">Nombre</label>
                                            <input type="text" class="form-control form-control-sm" placeholder="" v-model="registro_receta.nombre" id="n_t" autocomplete="off" />
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <label for="basic-url">Alcance</label>

                                            <select id="sel_ranch" v-model="registro_receta.cat_control_aplicaciones_alcance_mu_id" class="form-control form-control-sm" style="width: 100%">
                                                <option v-for="(
                                                    item, index
                                                  ) in alcances" :key="index" v-bind:value="item.cat_control_aplicaciones_alcance_mu_id
                                                  ">
                                                    {{ item.descripcion_alcance}}
                                                </option>
                                            </select>
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-10">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <div class="form-group">
                                                <label for="solicitante">Producto</label>
                                                <input type="text" class="form-control form-control-sm" placeholder="" v-model="nombre_producto" id="n_t" autocomplete="off" />
                                                <span>
                                                    <ul class="list-group">
                                                        <li v-for="(item, index) in list_productos" :key="index"
                                                            class="list-group-item"
                                                            @click="seleccionar_producto_receta(item)">
                                                            {{ item.producto}}
                                                        </li>
                                                    </ul>
                                                </span>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="col-2">
                                        <center>
                                            <button v-on:click="agregar_producto_receta()" type="button" style="margin-top: 33px;" class="btn btn-success btn-sm ">
                                                <i class="fal fa-plus"></i>
                                            </button>
                                        </center>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <ul class="list-group pro">
                                            <li class="list-group-item" v-for="(item, index) in registro_receta.productos" :key="index">
                                                <div class="row">
                                                    <div class="col-8">
                                                        {{nombreProductos(item.cat_compras_productos_id)}}
                                                    </div>
                                                    <div class="col-2">
                                                        <center>
                                                            <button v-on:click="borrar_producto_receta(item,index)" type="button" class="btn btn-danger btn-sm">
                                                                <i class="fal fa-trash"></i>
                                                            </button>
                                                        </center>
                                                    </div>
                                                    <div class="col-2">
                                                        <center>
                                                            <button v-on:click="editar_producto_receta(item,index)" type="button" class="btn btn-warning btn-sm">
                                                                <i class="fal fa-edit"></i>
                                                            </button>
                                                        </center>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button v-on:click="enviar_receta()" type="button" class="btn btn-success btn-sm btn-block">
                                            Enviar
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </section>


                    <!-- Esta seccion debe irse al aside de movimientos -->
                    <section class="content" v-if="aside.regs">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Información general
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form>
                                            <div class="form-group">
                                                <label for="Fecha">Fecha</label>
                                                <input type="date" v-model="registro.maestro.fecha_de_captura" class="form-control" id="Fecha">
                                            </div>
                                            <div class="form-group">
                                                <label for="Rancho" class="form-label">Rancho</label>

                                                <select id="caja-caja" v-model="registro.maestro.descripcion_unidades_productivas" class="form-control form-control-sm mb-3" style="width: 100%">
                                                    <option v-for="(item,index) in unidades" :key="index"
                                                        v-bind:value="item.cat_holding_03_empresas_unidades_productivas_id">
                                                        {{ item.UP }}
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border border-success">
                            <div class="card-body">
                                <div class="row" style="margin-top: 33px;">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <ul class="list-group pro">
                                                <li class="list-group-item" v-for="(item, index) in unidades" :key="index">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            {{nombreRancho(item.cat_holding_03_empresas_unidades_productivas_id)}}
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-danger btn-sm">
                                                            <i class="fal fa-trash"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-warning btn-sm">
                                                            <i class="fal fa-edit"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- aqui termina el section de movimientos  -->



                    <!-- inicio del section de pendientes  -->
                    <section class="content" v-if="aside.pendientes">
                        <div class="card border border-success">

                            <div class="card-header">
                                <h5>
                                    Registros sin enviar
                                </h5>
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top: 33px;">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <ul class="list-group pro">
                                                <li class="list-group-item" v-for="(item, index) in unidades" :key="index">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            {{nombreRancho(item.cat_holding_03_empresas_unidades_productivas_id)}}
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-danger btn-sm">
                                                            <i class="fal fa-trash"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                        <div class="col-2">
                                                            <center>
                                                                <button v-on:click="" type="button" class="btn btn-warning btn-sm">
                                                            <i class="fal fa-edit"></i>
                                                        </button>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3" style="margin-top: 33px;">
                            <div class="col-12">
                                <center>
                                    <button type="submit" v-on:click="" class="btn btn-block btn-success btn-lg">Enviar registros</button>
                                </center>
                            </div>
                        </div>
                    </section>
                    <!-- fin del section de pendientes  -->


                    <section class="content" v-if="aside.AgregarProductos">
                        <div class="card border border-success">
                            <div class="modal-header">
                                <h5 class="modal-title">Productos</h5>
                                <button type="button" class="close" v-on:click="cerrar_modal_productos()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <div class="form-group">
                                                <label for="Producto1">Producto</label>
                                                <input type="text" @change="selecciondeinput(2)" class="form-control form-control" placeholder="" v-model="nombre_producto" id="Producto1" autocomplete="off" />
                                                <span>
                                                    <ul class="list-group">
                                                        <li v-for="(item, index) in list_productos" :key="index"
                                                            class="list-group-item" @click="seleccionar_producto(item, 2)">
                                                            {{ item.producto}}
                                                        </li>
                                                    </ul>
                                                </span>
                                                <label for="Producto1" style="display:none" id="labelerror3">Por favor, selecciona una opción de la lista</label>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <label for="solicitante">Cantidad</label>
                                            <input type="number" class="form-control form-control-sm" placeholder="" v-model="producto.cantidad" id="n_t" autocomplete="off" />
                                        </form>
                                    </div>

                                    <div class="col-6">
                                        <form onsubmit="event.preventDefault();" role="form">
                                            <label for="basic-url">Medida</label>

                                            <select id="sel_ranch" v-model="producto.cat_compras_productos_unidad_de_medida_mu_id" class="form-control form-control-sm" style="width: 100%">
                                                <option v-for="(
                                                    item, index
                                                  ) in medidas" :key="index" v-bind:value="item.cat_compras_productos_unidad_de_medida_mu_id
                                                  ">
                                                    {{ item.descripcion_cat_compras_productos_unidad_de_medida }}
                                                </option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="row " style="margin-top: 33px;">
                                    <div class="col-12">
                                        <button v-on:click="agregar_producto()" type="button" class="btn btn-success btn-sm btn-block">
                                            Agregar Producto
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                </div>

                <footer class="main-footer">
                    <div class="float-right ">
                        <b>Version</b> {{version}}
                    </div>
                    <strong>Copyright &copy; 2020-2022 </strong> All rights reserved.
                </footer>



                <aside class="control-sidebar control-sidebar-dark"></aside>

            </div>



        </div>

    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="https://intelagro.net/intelagro/adminlite/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="./controladores/funciones.js"></script>
    <script src="./controladores/session.js"></script>
    <script src="./controladores/riego.js"></script>

</body>

</html>