:root {
    --letraHeader: #5a5c69;
    --blanco: #FFFFFF;
    --azul: #4d73dc;
    --verde: #1bc88e;
    --azulverde: #35b9cc;
    --morado: #a66dd1;
}

.botondashboard {
    align-items: center;
    border-radius: 1rem;
    /* size: 2rem; */
    /* padding: 1rem 1rem; */
    width: 2.12rem;
    height: 2.12rem;
    /* position: relative; */
    /* display: block; */
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-left: 1rem;
    color: #f0f0f0;
}

.sombra {
    -webkit-box-shadow: 0px 4px 13px 5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 4px 13px 5px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 4px 13px 5px rgba(0, 0, 0, 0.10);
    /*las tres lineas ayudan a ponerle sombra*/
    /* background-color: var(--blanco); */
    background-color: var(--blanco);
    padding: 1.1rem;
    /*hace la separacion a los lados*/
    border-radius: 0.25rem;
    /*esquinas redondeadas*/
}


/* .contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.contenido-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
} */

.entrada {
    border-right: 1px solid #e8e8e8;
    align-items: left;
}

.servicio {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.servicio2 {
    display: flex;
    flex-direction: column;
}

.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-right: 2rem;
    margin-left: 2rem; */
    /*dividio de manera horizontal en 3 fracciones*/
    /* column-gap: 1rem; */
    /* grid-template-columns: 300px 300px; para columnas */
    /* grid-template-rows: 200px 800px;  filas */
    /*el grid ayuda a seccionar el codigo como flexbox solo que a diferencia de flexbox este permite acomodarlo tanto en vertical como en horizontal*/
}


/* multiselecto */

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 5px 0 0 0;
    width: 100%;
    padding: 10px 0;
    border: none;
    -webkit-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
}

.multiselect-container .input-group {
    margin: 5px;
}

.multiselect-container>li {
    padding: 0;
    font-size: 14px;
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700;
    color: gray;
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700;
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer;
}

.multiselect-container>li>a {
    padding: 5px 0;
    color: #000;
    display: block;
}

.multiselect-container>li>a>label {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.multiselect-container>li>a>label:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: transparent;
    margin-right: 15px;
    vertical-align: middle;
}

.multiselect-container>li.active>a>label:before {
    font-family: 'fontAwesome';
    content: "\f00c";
    color: #fff;
    background-color: #52de97;
    border: 0;
    display: inline-block;
    padding: 0;
    line-height: 1.2;
    padding-left: 2px;
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0;
}

.multiselect-container>li>a>label>input[type=checkbox] {
    position: absolute;
    top: 3.5px;
    width: 20px;
    height: 20px;
    border: 0.5px solid #ced4da;
    border-radius: 5px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px;
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0;
}

.btn-group {
    height: 52px;
    /* width: calc(100% - 150px); */
}

.btn-group button {
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    padding: 0 10px;
    text-align: left;
    position: relative;
}

.btn-group button:after {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #999999;
}

.btn-group button:focus {
    -webkit-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 10px 23px -16px rgba(0, 0, 0, 0.14);
    padding: 0 10px;
}

.sl {
    color: gray;
    width: 150px;
}


/* RadioCheck */

.cl-checkbox {
    position: relative;
    display: inline-block;
}


/* Input */

.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}


/* Span */

.cl-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}


/* Box */

.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}


/* Checkmark */

.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}


/* Checked, Indeterminate */

.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: #018786;
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: #018786;
    background-color: #018786;
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}


/* Hover, Focus */

.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}


/* Active */

.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Disabled */

.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}


/* aqui termina la seccion del radio check */


/* aqui inicia el multiselect */


/* 
    .multiselect-container {
      border: 1px solid #ced4da;
      max-height: 200px;
      overflow-y: auto;
    }

    .multiselect-container li a label {
      font-weight: normal;
      margin-bottom: 0;
    }

    .multiselect-container li a:hover label {
      color: #007bff;
    }

    .multiselect-container li.multiselect-group label {
      margin-bottom: 0;
      font-weight: bold;
      color: #212529;
    } */